body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.add-button{
  background: #4CAF50;
  border-radius: 100px;
  border-color: #000;
}

.remove-button{
  background: #af0e0e;
  border-radius: 100px;
  border-color: #000;
}

.arrow{
  margin-left: 10px;
  margin-right: 10px;
}
